// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    margin: 0;
    padding: 0;
  }

.image{    
    height: 100vh; /* 全画面表示 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(./images/gold1.png);
}

.main{
    width: 100%;
    background-color:	#193200;// 色は落ち着いた色合い
    color: #997817;
    text-align: center;
    font-family:Cursive;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

